body {
  background-color: #FEF5E7;
}

.start {
  height: 1000px;
  width: 100%;
}

.button {
  border-radius: 50%;
  background-color: orange;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 16px;
}

.save {
  height: 100px;
  width: 100px;
}

.game {
  background-image: url("../img/assets/background.png");
  background-repeat: no-repeat;
  padding-bottom: 30%;
  background-position: center;
  background-size: contain;
  color: #FEF5E7;
  display: none;
}

.section1 {
  display: none;
}
