body {
  background-color: #FBEEE6;
  overflow-y: scroll;
  overflow-x:hidden;
}

.start {
  height: 1000px;
  width: 100%;
}

.button {
  border-radius: 50%;
  background-color: orange;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 16px;
}

.save {
  height: 100px;
  width: 100px;
}

.next {
  height: 100px;
  width: 100px;
}

/*.game {
  background-image: url("../img/assets/backg.png");
  padding-bottom: 30%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: #FBEEE6;
  display: none;
}*/

.section1 {
  display: none;
}

.foot {
  background-color: #F5B7B1;
  padding: 50px;
}

ul {
  list-style-type: none;
}

.rules {
  display: none;
}

.game{
  display: none;
}

.Dice{
  display: none;
}

.res{
  display: none;
}

#diceRoll {
  border-radius: 50%;
  background-color: #F5B7B1;
  color: green;
  padding: 20px;
  text-align: center;
  font-size: 16px;
}

#hold {
  border-radius: 50%;
  background-color: #F5B7B1;
  color: red;
  padding: 20px;
  text-align: center;
  font-size: 16px;
}
